<% if @user %>
<div class="user-item">
	<div class="user-name">
		<%= @user.name %>
	</div>
	<%= link_to 'Logout', logout_path, method: :delete %> 
</div>
<% else %>
<div class="user-item">
	<%= link_to 'Login', login_path, method: :get %> 
</div>
<% end %>