<div class="footer">
	<script type="text/javascript" src="/bootstrap.min.js"></script>
    <div class="app-name">Lab_01</div>
    <div class="info">
        <div class="own-name">Dương Trường An</div>
        <div class="diachi">Địa chỉ:  Xã Xuân Lộc, Quận Xuân Lộc, Tỉnh Long Khánh</div>
        <div class="mobile">Điện thoại: 0961 890 373</div>
        <div class="mail">Email: truongan106@gmail.com</div>
    </div>
</div>