<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">lab01</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active li-home"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li class="li-albums"><a href="/albums">Albums</a></li>
                <li class="li-blogs"><a href="/blogs">Blogs</a></li>
                <li class="li-about"><a href="/about">About</a></li>
                <% if session[:user_id] %>
                <li class="login-button"><a href="/logout">Logout</a></li>

                <%else%>
                <li class="login-button"><a href="/login">Login</a></li>
                <%end%>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        
    </div>
    <!-- /.container-fluid -->
</nav>
<script type="text/javascript">
                    var pathname = window.location.pathname; 
                    var linkarr = pathname.split("/")[1];
                    if (!linkarr) linkarr="home";
                    $(".nav.navbar-nav li").removeClass("active");
                    $(".li-"+linkarr).addClass("active");
                </script>

<!-- <div class="left-menu">
    <div class="left-home">Home</div>
    <div class="left-home">Albums</div>
    <div class="left-home">Blogs</div>
    <div class="left-home">About</div>
</div>

<div class="topbar">
  <div class="desktop-bar">
    <div class="home">Home</div>
    <div class="home">Albums</div>
    <div class="home">Blogs</div>
    <div class="home">About</div>
  </div>
  <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
</div> -->