<div class="topbar">
    <div class="desktop-bar">
        <div class="home">Home</div>
        <div class="home">Albums</div>
        <div class="home">Blogs</div>
        <div class="home">About</div>
    </div>
    <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>