<div class="topbar">
    <div class="desktop-bar">
        <div class="home"><a href="/">Home</a></div>
        <div class="home"><a href="/albums">Albums</a></div>
        <div class="home"><a href="/blogs">Blogs</a></div>
        <div class="home"><a href="/about">About</a></div>
    </div>
    <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>