<script type="text/javascript" src="/album.js"></script>
<% @photo.each do |key| %>
	<div class="album-item photo-item" id="<%= key.id %>">
		<div class="thumb">
			<img class="thumb" src="<%= key.link %>">
		</div>
		<div class="view"><%= key.view %> view</div>
	</div>
<%end%>
<div class="wrap">
	
</div>
<div class="wrap2">
</div>