<div class="blog-item">
<div class="blog-title">
	<%= @blog.title %>
</div>
<div class="blog-contents">
<%= @blog.body %>
</div>
<div class="blog-view">
<%= @user.name %> 
-
<%= @blog.view %> view
</div>
</div>