// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-item{
background: #f2f2f2;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.blog-title{
	font-size: 24px;
}

.blog-tool{
	width: 100%;
}

.btn-create{
	float: right;
    height: 40px;
    width: 100px;
    background: #347ab7;
    color: #fff;
    border-radius: 5px;
       text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.btn-create a{
	color: #fff
}
.create-title-blog{
	height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 24px;
    padding: 0 10px;
    outline: none;
}
.create-form{
	width: 100%;
}

.create-body{

    margin-top: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 400px;
    font-size: 16px;
    padding: 5px;

}
.div-submit{
	width: 100%;
}
.btn-submit{
    width: 100px;
    height: 40px;
    float: right;
    background: #5cb85c;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.blog-view{

    text-align: right;
    padding: 20px 20px 0 20px;

}